<% if model.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% model.errors.full_messages.each do |tasks| %>
        <li><%= tasks %></li>
      <% end %>
    </ul>
  </div>
<% end %>